*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 16px;
}
header{
 
   margin: 3rem 0 0 2.6rem; 
   max-width: 80%;
}
header a{
    margin-right: 32px;
    text-decoration: none;
    font-weight: 400px;
    color: #17233D;

}
header button{
 Width:124px;
 height: 51px;
 background:  #4CB538;
 color: #FFFFFF;
 font-weight: 500px;
 border-radius: 6px;
 border: 1px solid #4CB538;
 cursor: pointer;

}
.principal{
    max-width: 80%;
}

.img1{
    display: inline-block;
    margin: 163px 0 0 123px;
}
section{
    display: inline-block;
    width: 493px;
}
h1{
    height: 164px;
    color:  #161A49;
    font-size: 62px;
    font-weight: 700px;
    line-height: 82px;
    letter-spacing: 0.596154px;

    
}
section p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 33px;
    color:  #4B505A;
    letter-spacing: 0.5px;
    margin-top: 47px;
}
section a{
    font-weight: 500px;
    font-size: 18px;
    line-height: 27px;
    color: 
    #6FBF44;
    cursor: pointer;
    text-decoration: none;
    
    }

  @media screen and (max-width:730px){
    body{
        width: 100vw;
        height: 100vh;
    }
    
    header a{
        font-size: 14px;
        display: block;
        font-weight: 400px;
        margin-left: 1rem;
    }
    button{
        margin-left: 2rem;

    }
    .img1{
       margin-left: 12px;
       max-width: 90%;

    }
    h1{
        font-size: 14px;
        
        
    }
    section p{
        font-size: 12px;
        max-width: 50%;
        margin-left: 10px;
    }
    section a{
 
       margin-left: 5rem;
    }
  }  
